* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
}
:root {
  --bg-color: #EBF3E8;
  --bg-header: #E1F0DA;
  --bg-btn: #e8c872;
  --main-color: #EEEDED;
  --text-color: #333;
  --second-text-color: #555;
  --white-color: #fff;
  --cover-color: linear-gradient(45deg, #faf2d3, #fce09b);
  --page-color: linear-gradient(90deg, #fff, #ddd);
  --border: 0.125rem solid #ffbb64;
  --box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.2);
  --padding-back-color: #e8c872;
}
@font-face {
  font-family: maher;
  src: url('./iran/ttf/IRANSansWeb.ttf');
}
body {
  margin: 0;
  min-height: 100vh;
  background: var(--bg-color);
  color: var(--text-color);
  font-size: 78%;
  box-sizing: border-box;
  direction: rtl;
  text-decoration: none;
  font-family: maher !important;
}
header{
  background-color: var(--bg-header);
  height: 80px;
}
.navbar{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}
.menu{
  list-style: none;
  padding-right: 15px;
  height: 100%;
  flex: 1;
  
}
.menu .menu-item{
  display: inline-block;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}
.menu .menu-item .menu-link{
  height: 100%;
  color: var(--text-color);
  font-size: 1rem;
  display: flex;
  align-items: center;
  position: relative;
}
.menu .menu-item .underline{
  position: relative;
}
.menu .menu-item .underline.active{
  position: absolute;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: red;
  transition: .5s ease;
}
.menu .menu-item .active:hover{
  width: 100%;
}
.tool-menu{
  height: 100%;
  display: flex;
  align-items: center;
}
.tool-menu .btn{
  padding: 10px;
  background-color: unset;
  border: 0;
  outline: 0;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: var(--box-shadow);
}
.tool-menu .btn i{
  font-size: 20px;
}
.logo{
  margin-right: 20px;
}
.tool-menu .btn{
  margin-left: 5px;
  margin-right:5px;
  transition: .5s linear;
}
.tool-menu .btn:hover{
  background-color: var(--bg-btn);
}

#marker {
  position: absolute;
  border-bottom: 4px solid transparent;
  z-index: -1;
  transform: translateX(-60px);
}
#marker {
  transition: all .35s ease-in-out;
}



.row{
  display: flex;
  justify-content: space-evenly;
  
}
.aboutme{
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right-box{
  width: 30%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-box span{
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 10px;
  width: 100%;
  height: 350px;
  padding-right: 40px;
  /* background-image: url(../img/me.jpg);
  background-position: center;
  background-size: cover;
  background-clip: border-box; */
  border: 4px solid #fff;
  background-size: cover;
  background-image: url(../img/me.jpg);
  transition: .5s;
}
.img-box span:nth-child(1){
  clip-path: polygon(0 0, 50% 0, 50% 50%, 0 50%);
  transition-delay: .0s;
}
.img-box span:nth-child(2){
  clip-path: polygon(50% 0, 100% 0, 100% 50%, 50% 50%);
  transition-delay: .25s;
}
.img-box span:nth-child(3){
  clip-path: polygon(0 50%, 50% 50%, 50% 100%, 0 100%);
  transition-delay: .5s;
}
.img-box span:nth-child(4){
  clip-path: polygon(50% 50%, 100% 50%, 100% 100%, 50% 100%);
  transition-delay: .75s;
}

.img-box:hover span:nth-child(1){
  transform: translate(-40px,-60px) rotate(-15deg);
}
.img-box:hover span:nth-child(2){
  transform: translate(40px,-100px) rotate(25deg);
}
.img-box:hover span:nth-child(3){
  transform: translate(-40px,80px) rotate(15deg);
}
.img-box:hover span:nth-child(4){
  transform: translate(40px,80px) rotate(-15deg);
}

.left-box{
  padding-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}